.subscription {
  padding-top: 48px;
  padding-bottom: 25px;
  background-color: var(--color-bg-light);

  @include tablet {
    padding-top: 40px;
    padding-bottom: 60px;
  }

  @include desktop {
    padding-top: 56px;
    padding-bottom: 98px;
  }
}

.subscription--bg-base {
  background-color: var(--color-bg-base);
}

.subscription__wrapper {
  text-align: center;
}

.subscription__title {
  margin-bottom: 20px;

  @include tablet {
    margin-bottom: 30px;
  }
}

.subscription__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  @include small-tablet {
    display: grid;
    column-gap: 18px;
    align-items: start;
    justify-content: center;
    grid-template-columns: 350px min-content;
  }

  @include tablet {
    grid-template-columns: 400px min-content;
  }
}

.subscription__text {
  grid-column: 2 span;
  margin: 0;
  margin-bottom: 31px;
  font-size: 14px;
  line-height: 147%;

  @include tablet {
    font-size: 16px;
    line-height: 23px;
  }

  @include desktop {
    font-size: 18px;
    line-height: 33px;
  }
}

.subscription__input {
  width: 100%;
}

.subscription__btn {
  margin-top: 23px;
  width: 100%;

  @include small-tablet {
    margin-top: 0;
  }
}

.field {
  --color-error: #b70101;
  --color-success: #01b754;

  position: relative;
  padding-bottom: 26px;
}

.field__label {
  padding: 14px 22px;
}

.field__input {
  position: relative;
  display: block;
  border: 1px solid var(--color-input-border);
  border-radius: 35px;
  padding: 13px 45px 13px 22px;
  width: 100%;
  font-family: inherit;
  font-size: 14px;
  line-height: 1;
  background-position: top 50% right 19px;
  background-repeat: no-repeat;

  &:focus-visible {
    outline-width: 2px;
    outline-color: var(--color-input-border);
  }

  &--error {
    border-color: var(--color-error);
    background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='9' cy='9' r='9' fill='%23B70101'/%3E%3Cpath d='M8.57795 10.9205L7.91995 6.94452V4.22852H10.104V6.94452L9.45995 10.9205H8.57795ZM8.99795 14.1685C8.54995 14.1685 8.22795 14.0658 8.03195 13.8605C7.84529 13.6552 7.75195 13.4032 7.75195 13.1045V12.7685C7.75195 12.4698 7.84529 12.2178 8.03195 12.0125C8.22795 11.8072 8.54995 11.7045 8.99795 11.7045C9.44595 11.7045 9.76329 11.8072 9.94995 12.0125C10.146 12.2178 10.244 12.4698 10.244 12.7685V13.1045C10.244 13.4032 10.146 13.6552 9.94995 13.8605C9.76329 14.0658 9.44595 14.1685 8.99795 14.1685Z' fill='white'/%3E%3C/svg%3E ");

    &:focus-visible {
      outline-color: var(--color-error);
    }
  }

  &--success {
    border-color: var(--color-success);
    background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='9' cy='9' r='9' fill='%2301B754'/%3E%3Cpath d='M6.88449 10.1741L7.05747 10.3399L7.23045 10.1741L12.7897 4.84627L14.2637 6.25889L8.71977 11.572L7.06938 13.1537L5.40709 11.5606L3.73631 9.95938L5.19836 8.5582L6.88449 10.1741Z' fill='white' stroke='%2301B754' stroke-width='0.5'/%3E%3C/svg%3E%0A");

    &:focus-visible {
      outline-color: var(--color-success);
    }
  }
}

.field__error {
  position: absolute;
  bottom: 0;
  padding: 7px 22px;
  min-height: 12px;
  font-size: 12px;
  line-height: 1;
  color: var(--color-error);
}
