.title-section {
  margin: 0;
  font-family: $font-family-secondary;
  font-weight: 500;
  font-size: 20px;
  line-height: 22px;

  @include tablet {
    font-size: 36px;
    line-height: 48px;
  }

  @include desktop {
    font-size: 40px;
    line-height: 48px;
  }

  &--center {
    text-align: center;
  }
}
