<section class="benefits">
  <div class="benefits__wrapper container">
    <h2 class="visually-hidden">Наши преимущества</h2>
    <ul class="benefits__list list-reset">
      <li class="benefits__item">
        <img class="benefits__icon" src="./img/benefits/icon1.svg" alt="" width="42" height="42" aria-hidden="true">
        <h3 class="benefits__title">Моментально</h3>
        <p class="benefits__desc">Никаких задержек. 1 секунда на подписание</p>
      </li>
      <li class="benefits__item">
        <img class="benefits__icon" src="./img/benefits/icon2.svg" alt="" width="42" height="42" aria-hidden="true">
        <h3 class="benefits__title">Глобально</h3>
        <p class="benefits__desc">Сервис доступен 24\7 со всех устройств.</p>
      </li>
      <li class="benefits__item">
        <img class="benefits__icon" src="./img/benefits/icon3.svg" alt="" width="42" height="42" aria-hidden="true">
        <h3 class="benefits__title">Экономно</h3>
        <p class="benefits__desc">В 30 раз дешевле чем почта и курьеры</p>
      </li>
    </ul>
  </div>
</section>
