<section class="clients">
  <div class="clients__wrapper container">
    <h2 class="clients__title title-section title-section--center">Друзья Signy</h2>
    <div class="clients__slider swiper">
      <ul class="clients__list swiper-wrapper list-reset">
        <li class="clients__item swiper-slide">
          @include('template/picture.html', {
          'pathImg': './img/clients/client1',
          'imgType': 'png',
          'classImgName': 'clients__img',
          'width': '',
          'height': '',
          'alt': '',
          'tablet': '768',
          'desktop': '',
          })
        </li>
        <li class="clients__item swiper-slide">
          @include('template/picture.html', {
          'pathImg': './img/clients/client2',
          'imgType': 'png',
          'classImgName': 'clients__img',
          'width': '',
          'height': '',
          'alt': '',
          'tablet': '768',
          'desktop': '',
          })
        </li>
        <li class="clients__item swiper-slide">
          @include('template/picture.html', {
          'pathImg': './img/clients/client3',
          'imgType': 'png',
          'classImgName': 'clients__img',
          'width': '',
          'height': '',
          'alt': '',
          'tablet': '768',
          'desktop': '',
          })
        </li>
        <li class="clients__item swiper-slide">
          @include('template/picture.html', {
          'pathImg': './img/clients/client4',
          'imgType': 'png',
          'classImgName': 'clients__img',
          'width': '',
          'height': '',
          'alt': '',
          'tablet': '768',
          'desktop': '',
          })
        </li>
        <li class="clients__item swiper-slide">
          @include('template/picture.html', {
          'pathImg': './img/clients/client1',
          'imgType': 'png',
          'classImgName': 'clients__img',
          'width': '',
          'height': '',
          'alt': '',
          'tablet': '768',
          'desktop': '',
          })
        </li>
        <li class="clients__item swiper-slide">
          @include('template/picture.html', {
          'pathImg': './img/clients/client2',
          'imgType': 'png',
          'classImgName': 'clients__img',
          'width': '',
          'height': '',
          'alt': '',
          'tablet': '768',
          'desktop': '',
          })
        </li>
      </ul>

      <div class="swiper-pagination-circle"></div>
    </div>
  </div>
</section>
