<section class="section-faq">
  <div class="section-faq__wrapper container">
    <h2 class="section-faq__title title-section title-section--center">Популярные вопросы и ответы на них</h2>
    <div class="section-faq__list">
      <details class="faq-item">
        <summary class="faq-item__title"><span class="faq-item__icon"></span>Почему круглую пиццу ставят в квадратную
          коробку, а нарезают треугольниками?
        </summary>
        <p class="faq-item__content">Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные
          тексты.</p>
      </details>
      <details class="faq-item">
        <summary class="faq-item__title"><span class="faq-item__icon"></span>Почему после ремонта дорога опять
          проваливается?</summary>
        <p class="faq-item__content">Потому что делают ее без соблюдения технологических процессов.</p>
      </details>
      <details class="faq-item">
        <summary class="faq-item__title"><span class="faq-item__icon"></span>Почему вода мокрая?</summary>
        <p class="faq-item__content">Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные
          тексты.</p>
      </details>
      <details class="faq-item">
        <summary class="faq-item__title"><span class="faq-item__icon"></span>Видят ли микробы друг друга?</summary>
        <p class="faq-item__content">Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные
          тексты.</p>
      </details>
      <details class="faq-item">
        <summary class="faq-item__title"><span class="faq-item__icon"></span>Почему кровь красная а вены синие?
        </summary>
        <p class="faq-item__content">Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные
          тексты.</p>
      </details>
      <details class="faq-item">
        <summary class="faq-item__title"><span class="faq-item__icon"></span>Из чего сделана радуга?</summary>
        <p class="faq-item__content">Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные
          тексты.</p>
      </details>
    </div>
  </div>
</section>
