<section class="tariffs">
  <div class="tarrifs__wrapper container">
    <h2 class="tarrifs__heading title-section title-section--center">Пакеты цифровых подписей</h2>
    <ul class="tarrifs__list list-reset">
      <li class="tarrifs__item">
        <div class="tariffs__inner">
          <h3 class="tarrifs__title">Demo</h3>
          <p class="tarrifs__desc">30 документов</p>
          <p class="tarrifs__price">
            <span class="tarrifs__price-value">0</span>
            руб/месяц
          </p>
        </div>
        <button class="tariffs__btn btn">Зарегистрироваться</button>
      </li>
      <li class="tarrifs__item">
        <div class="tariffs__inner">
          <h3 class="tarrifs__title">Business</h3>
          <p class="tarrifs__desc">1000 документов</p>
          <p class="tarrifs__price">
            <span class="tarrifs__price-value">1000</span>
            руб/год
          </p>
        </div>
        <button class="tariffs__btn btn">Заказать</button>
      </li>
      <li class="tarrifs__item">
        <div class="tariffs__inner">
          <h3 class="tarrifs__title">Pro</h3>
          <p class="tarrifs__desc">10000 документов</p>
          <p class="tarrifs__price">
            <span class="tarrifs__price-value">9000</span>
            руб/год
          </p>
        </div>
        <button class="tariffs__btn btn">Заказать</button>
      </li>
      <li class="tarrifs__item">
        <div class="tariffs__inner">
          <h3 class="tarrifs__title">Individual</h3>
          <p class="tarrifs__desc">Неограниченное количество документов</p>
        </div>
        <button class="tariffs__btn btn">Связаться с нами</button>
      </li>
    </ul>
  </div>
</section>
